{%extends 'photos/base.html'%}

{% block content %}
{{block.super}}

<div class="">
  <div class="container">   
          <div class="mr-0 mt-5 mb-2">
            <span id="locations">
                {% for distinct in distincts %}
                    <a class="btn btn-outline-secondary text-dark btn-sm mt-3" id="btn"
                        href="/location/{{distinct.location_name}}">{{distinct.location_name}}</a>
                {%endfor%}
            </span>
          </div>
      
      <div class="card-columns">
          {% for image in images %}
          <div class="card" data-toggle="modal" data-target="#{{image.id}}">
            <img src="{{image.image.url}}" style="width:22rem; height:12rem; object-fit:cover;" alt="{{image.name}}" class="card-img">
          </div>
  
        <!-- Modal -->
        <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" 
               aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{image.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body text-center">
                    <img src="{{image.image.url}}" style="width:30rem; height:18rem; object-fit:cover;" alt="{{image.name}}" class="img-fluid">
                    <p class="imgdesc text-center">{{image.description}}</p>
                    <span class="btn btn-sm btn-outline-success">{{image.category.category_name}}</span> <a
                        href="/location/{{image.location.location_name}}" class="btn btn-sm btn-outline-info">{{image.location.location_name}}</a>
                </div>

                <div class="modal-footer">
                <input class="form-control input-lg" type="text" value="localhost:8000{{image.image.url}}" id="{{image.id}}.url">
                <button type="button" class="btn btn-primary" onclick="copyLink('{{image.id}}.url')">Copy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
          {% endfor %}
      </div>
  </div>
</div>

{% endblock %}